.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.4) 100%),
  url("../img/pattern.png");

  z-index: 0;
}

.container__back {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5px;
  left: 5px;
  width: 50px;
  height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.container__back:hover {
  color: #ffffff;
  outline: 2px solid #ffffff;
}

.container__back:active {
  color: #000000;
  background-color: #ffffff;
  outline: 2px solid #ffffff;
}

.container--htmlTest {
  height: 100%;
  justify-content: flex-start;
}

@media (min-width: $desktop-width) {
  .container--htmlTest {
    min-height: calc(100vh - 290px);
    padding: 145px 0;

    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%),
    url("../img/pattern.png");
  }
}

